<!DOCTYPE HTML>
<html>


<head>
    <title>Hello // Страничка приветствия :)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>

<div>Hello, user</div>
<a href="/main">Main page</a>

</body>


</html>