<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <title>Страничка залогинивания // Spring Security Example</title>
</head>


<body>
<br>
Login page
<br><br><br>
<form action="/login" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>

    <!--невидимое поле. Любой запрос, кот. не будет сопровождаться этим полем -будет сервером игнорироваться-->
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

    <br>
    <div><input type="submit" value="Sign In"/></div>
    <br>
</form>
<a href="/registration">Add new user</a>
</body>

</html>