<html>

<head>
    <title>Main // Главная - add/find page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>

<div>
    <form action="/logout" method="post">

        <!--невидимое поле. Любой запрос, кот. не будет сопровождаться этим полем -будет сервером игнорироваться-->
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

        <input type="submit" value="Sign Out"/>
    </form>
</div>


<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите сообщение" />
        <input type="text" name="tag" placeholder="Тэг">

        <!--невидимое поле. Любой запрос, кот. не будет сопровождаться этим полем -будет сервером игнорироваться-->
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

        <button type="submit">Добавить</button>
    </form>
</div>


<div>Список сообщений</div>
<form method="post" action="filter">
    <input type="text" name="filter">

    <!--невидимое поле. Любой запрос, кот. не будет сопровождаться этим полем -будет сервером игнорироваться-->
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

    <button type="submit">Найти</button>
</form>

{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
        <strong>{{authorName}}</strong>
    </div>
{{/messages}}

</body>


</html>