<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <title>Регистрация нового пользователя // Add new user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>

<br>
Add new user
<br><br><br>

<!-- проверка. если присутствует такое поле как message (а оно будет присутствовать всегда) то мы его показываем -->
{{#message}}
    {{message}}
{{/message}}

<form action="/registration" method="post">
    <div><label> User Name : <input type="text" name="username" placeholder="Имя нового пользователя" /> </label></div>
    <div><label> Password: <input type="password" name="password" placeholder="Пароль для нового пользователя" /> </label></div>

    <!--невидимое поле. Любой запрос, кот. не будет сопровождаться этим полем -будет сервером игнорироваться-->
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

    <br>
    <div><input type="submit" value="Сonfirm the addition new user"/></div>
</form>

</body>

</html>